<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Aplikasi Perpustakaan</title>
    <script type="application/javascript" src="/webjars/jquery/1.11.1/jquery.min.js"
            th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="application/javascript" src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<!--/*@thymesVar id="message" type="com.dimas.maryanto.perpus.controller.AplikasiController"*/-->
<div th:text="${message}"></div>
</body>
</html>